html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

.main-menu {
  color: #383838;
  text-align: center;
  height: 10vh;
  max-height: 10vh;
}

.intro-header {
  height: 20vh;
  max-height: 20vh;
}

@media only screen and (max-width: 600px) {
  .intro-header {
    height: 25vh;
    max-height: 25vh;
  }
}

.intro-content {
  height: 70vh;
  max-height: 70vh;
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  .intro-content {
    display: contents;
    height: 60vh;
    max-height: 60vh;
  }
}

@media only screen and (max-width: 600px) {
  .intro-content {
    display: inherit;
  }
}

.intro-header-text {
  color: #383838;
  font-size: 85px;
  text-align: center;
  padding-top: 2.2%;
}

@media only screen and (max-width: 800px) {
  .intro-header-text {
    font-size: 65px;
    padding-top: 4%;
  }
}

@media only screen and (max-width: 600px) {
  .intro-header-text {
    font-size: 60px;
    padding-top: 0;
  }
}

.content-text {
  color: #383838;
  height: 50%;
  max-height: 50%;
  overflow-y: auto;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  max-width: 65%;
}

@media only screen and (max-width: 600px) {
  .content-text {
    height: 70%;
    max-height: 70%;
  }
}

.follow-me-section {
  padding-top: 10px;
  height: 30%;
  max-height: 30%;
}

.follow-me-section {
  width: 100%;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.profile-picture {
  margin: 0 auto;
  max-height: 10vh;
  border-radius: 50%;
}

.social-media-picture {
  width: 3.5vh;
  padding: 0px 10px 0px 10px;
}

a:visited {
  color: #383838;
}

.followMeButtons {
  padding-top: 10px;
}

.social-media-picture:hover {
  width: 3.8vh;
}

.navigation-menu {
  padding: 0px 10px 0 10px;
}

.navigation-link {
  padding: 0px 10px 0 10px;
  width: 100%;
  font-size: 18px;
  color: #383838;
}

.intro-line {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .intro-line {
    width: 60%;
  }
}

.experiences-container {
  color: #383838;
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
  max-width: 40%;
}

.experience-header {
  padding: 20px 0 100px 0;
}

@media only screen and (max-width: 800px) {
  .experience-header {
    padding: 20px 0 80px 0;
  }
}

@media only screen and (max-width: 600px) {
  .experience-header {
    padding: 20px 0 60px 0;
  }
}

.experience-header-text {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: x-large;
}

@media only screen and (max-width: 800px) {
  .experience-header-text {
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .experience-header-text {
    font-size: large;
  }
}

@media only screen and (max-width: 800px) {
  .experiences-container {
    max-width: 80%;
  }
}

.experience-container {
  width: 55%;
}

@media only screen and (max-width: 800px) {
  .experience-container {
    width: 90%;
  }
}

.experience-title {
  font-weight: 600;
  font-size: 20px;
}

.experience-company {
  
}

.experience-duration {
  font-size: 12px;
  color: #afafaf;
}

.experience-location {
  font-size: 12px;
  color: #afafaf;
}

.experience-description {
  word-break: break-word;
}

.experience-technologies {
  font-size: 12px;
}
